.circle1 {
	width: 200px;
	height: 200px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.2;
	position: absolute;
	top: -50px;
	left: -100px;
	animation: circle1 15s linear 0s alternate-reverse infinite;
}

@keyframes circle1 {
	0% {}

	20% {
		transform: translate(10px, 10px);
	}

	40% {
		transform: translate(25px, 20px);
	}

	60% {
		transform: translate(45px, 25px);
	}

	80% {
		transform: translate(25px, 20px);
	}

	100% {
		transform: translate(10px, 10px);
	}
}

.circle2 {
	width: 150px;
	height: 150px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.3;
	position: absolute;
	top: 80px;
	left: -80px;
	animation: circle2 15s linear 0s alternate infinite;
}

@keyframes circle2 {
	0% {}

	20% {
		transform: translate(10px, 20px);
	}

	40% {
		transform: translate(20px, 30px);
	}

	60% {
		transform: translate(25px, 40px);
	}

	80% {
		transform: translate(20px, 50px);
	}

	100% {
		transform: translate(5px, 60px);
	}
}

.circle3 {
	width: 150px;
	height: 150px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.3;
	position: absolute;
	top: 400px;
	left: -90px;
	animation: circle3 15s linear 0s alternate infinite;
}

@keyframes circle3 {
	0% {}

	20% {
		transform: translate(10px, -10px);
	}

	40% {
		transform: translate(25px, -20px);
	}

	60% {
		transform: translate(45px, -25px);
	}

	80% {
		transform: translate(25px, -20px);
	}

	100% {
		transform: translate(10px, -10px);
	}
}

.circle4 {
	width: 200px;
	height: 200px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.3;
	position: absolute;
	top: 450px;
	left: -150px;
	animation: circle4 30s linear 0s alternate-reverse infinite;
}

@keyframes circle4 {
	0% {}

	20% {
		transform: translate(30px, 20px);
	}

	40% {
		transform: translate(60px, 40px);
	}

	60% {
		transform: translate(90px, 60px);
	}

	80% {
		transform: translate(120px, 80px);
	}

	100% {
		transform: translate(150px, 100px);
	}
}

.circle5 {
	width: 150px;
	height: 150px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.3;
	position: absolute;
	top: -40px;
	right: -70px;
	animation: circle5 15s linear 0s alternate-reverse infinite;
}

@keyframes circle5 {
	0% {}

	20% {
		transform: translate(-10px, 10px);
	}

	40% {
		transform: translate(-25px, 20px);
	}

	60% {
		transform: translate(-45px, 25px);
	}

	80% {
		transform: translate(-25px, 20px);
	}

	100% {
		transform: translate(-10px, 10px);
	}
}

.circle6 {
	width: 180px;
	height: 180px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.2;
	position: absolute;
	top: 100px;
	right: -100px;
	animation: circle6 15s linear 0s alternate infinite;
}

@keyframes circle6 {
	0% {}

	20% {
		transform: translate(-10px, 20px);
	}

	40% {
		transform: translate(-20px, 30px);
	}

	60% {
		transform: translate(-25px, 40px);
	}

	80% {
		transform: translate(-20px, 50px);
	}

	100% {
		transform: translate(-5px, 60px);
	}
}

.circle7 {
	width: 180px;
	height: 180px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.3;
	position: absolute;
	top: 250px;
	right: -120px;
	animation: circle7 15s linear 0s alternate infinite;
}

@keyframes circle7 {
	0% {}

	20% {
		transform: translate(-10px, 10px);
	}

	40% {
		transform: translate(-25px, 20px);
	}

	60% {
		transform: translate(-45px, 25px);
	}

	80% {
		transform: translate(-25px, 20px);
	}

	100% {
		transform: translate(-10px, 10px);
	}
}

.circle8 {
	width: 160px;
	height: 160px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.3;
	position: absolute;
	top: 520px;
	right: -30px;
	animation: circle8 15s linear 0s alternate-reverse infinite;
}

@keyframes circle8 {
	0% {}

	20% {
		transform: translate(-10px, 20px);
	}

	40% {
		transform: translate(-20px, 40px);
	}

	60% {
		transform: translate(-25px, 60px);
	}

	80% {
		transform: translate(-20px, 80px);
	}

	100% {
		transform: translate(-5px, 100px);
	}
}

.circleA {
	width: 160px;
	height: 160px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.3;
	position: absolute;
	top: 20px;
	left: 80px;
	animation: circleA 15s linear 0s alternate-reverse infinite;
}

@keyframes circleA {
	0% {}

	20% {
		transform: translate(-10px, 20px);
	}

	40% {
		transform: translate(-20px, 40px);
	}

	60% {
		transform: translate(-25px, 60px);
	}

	80% {
		transform: translate(-20px, 80px);
	}

	100% {
		transform: translate(-5px, 100px);
	}
}

.circleB {
	width: 160px;
	height: 160px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.3;
	position: absolute;
	top: 400px;
	left: 80px;
	animation: circleB 15s linear 0s alternate-reverse infinite;
}

@keyframes circleB {
	0% {}

	20% {
		transform: translate(-10px, 20px);
	}

	40% {
		transform: translate(-20px, 40px);
	}

	60% {
		transform: translate(-25px, 60px);
	}

	80% {
		transform: translate(-20px, 80px);
	}

	100% {
		transform: translate(-5px, 100px);
	}
}

.circleC {
	width: 160px;
	height: 160px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.3;
	position: absolute;
	top: 150px;
	left: 220px;
	animation: circleC 15s linear 0s alternate-reverse infinite;
}

@keyframes circleC {
	0% {}

	20% {
		transform: translate(-15px, 20px);
	}

	40% {
		transform: translate(-25px, 40px);
	}

	60% {
		transform: translate(-35px, 60px);
	}

	80% {
		transform: translate(-30px, 80px);
	}

	100% {
		transform: translate(-35px, 100px);
	}
}

.circleD {
	width: 160px;
	height: 160px;
	background-color: whitesmoke;
	border-radius: 100%;
	opacity: 0.3;
	position: absolute;
	top: 250px;
	left: 200px;
	animation: circleD 15s linear 0s alternate-reverse infinite;
}

@keyframes circleD {
	0% {}

	20% {
		transform: translate(-15px, 20px);
	}

	40% {
		transform: translate(-20px, 40px);
	}

	60% {
		transform: translate(-25px, 60px);
	}

	80% {
		transform: translate(-20px, 80px);
	}

	100% {
		transform: translate(-15px, 100px);
	}
}

@keyframes bigger {
	from {}

	to {
		height: 120px;
		width: 240px;
	}
}

@keyframes jumpUp {
	0% {}

	50% {
		top: 5%;
	}

	100% {
		top: 30%;
	}
}
